<!-- modal excluir-->
<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Excluir voo</h4>
            </div>
            <div class="modal-body">
                <h3>Tem certeza que deseja excluir o voo
                    <b>{{voo.id}}</b>?
                </h3>
                <p>Número: {{voo.numero | uppercase}}</p>
                <p>Data: {{voo.data | date: "dd/MM/yyyy"}}</p>
                <p>Hora: {{voo.hora | uppercase}}</p>
                <p>Origem: {{voo.origem | uppercase}}</p>
                <p>Destino: {{voo.destino | uppercase}}</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="deleteVoo(voo.id)">Excluir</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->