<!-- Modal cadastrar tipo de aeronave-->
<div class="modal fade" id="modalCadastrarTipo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="TipoController">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Cadastrar tipo de aeronave</h4>
                </div>                
                
                <form>
                    <div class="modal-body">
    
                        <div class="alert alert-danger" role="alert" ng-show="errorMessage">{{errorMessage}}</div>
    
                        <div class="form-group">
                            <label for="matricula">Tipo</label>
                            <input type="text" required class="form-control" id="matricula" ng-model="tipo.tipo" />
                        </div>                                               
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" ng-click="addTipo()">Salvar</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->